body {
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.9);
font-family: 'Roboto Slab', serif;
}

.main-nav {
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
}

.navbar-toggler {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  transition: color 0.3s;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #333;
}


@media screen and (max-width: 768px) {
  .navbar-toggler {
      display: block;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .navbar-toggler-icon {
      display: block;
      width: 20px;
      height: 3px;
      background-color: white;
      margin: 4px 0;
      transition: all 0.2s;
  }

  .navbar-toggler.active .navbar-toggler-icon:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px);
  }

  .navbar-toggler.active .navbar-toggler-icon:nth-child(2) {
      opacity: 0;
  }

  .navbar-toggler.active .navbar-toggler-icon:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
  }

  .navbar-toggler.active {
      background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar-toggler:not(.active) .navbar-toggler-icon {
      transform: none;
  }

  .navbar-collapse {
      display: none;
      clear: both;
  }

  .navbar-collapse.active {
      display: block;
  }

  ul {
      flex-direction: column;
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 1;
  }

  ul.active {
      position: static;
      background-color: transparent;
  }

  li {
      width: 100%;
  }

  li a {
      padding: 10px 0;
      border-top: 1px solid #333;
  }
}



/*cover*/
.container {
  background-image: url("../img/cover5.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color del texto u otros elementos dentro de la portada */
  text-align: center; /* Alineación del texto */
  margin-bottom: 8%; /* Agrega margen en la parte inferior */
}

/*Elemento rotante*/
.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}


/*grid*/

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 8%; /* Agrega margen en la parte inferior */ 
}

/* Estilos para pantallas pequeñas */
/* Estilos para pantallas pequeñas */
@media (max-width: 720px) {
  
  .wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(50%, 1fr)
    ); /* Ajusta el tamaño de las columnas */
  }

  .box {
    padding: 5px; /* Reduce el relleno en pantallas pequeñas */
    margin: 5px;
  }
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 667px) and (max-width: 1019px) {
  .wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(35%, 1fr)
    ); /* Ajusta el tamaño de las columnas */
  }

  .box {
    padding: 5px; /* Reduce el relleno en pantallas medianas */
    margin: 5px;
  }
}

/* Estilos para pantallas muy grandes */
@media (min-width: 1020px) and (max-width: 1280px) {
  .wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(40%, 1fr)
    ); /* Ajusta el tamaño de las columnas */
  }

  .box {
    padding: 5px; /* Reduce el relleno en pantallas grandes */
    margin: 5px;
  }
}

@media (min-width: 1281px) and (max-width: 1540px) {
  .wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(25%, 1fr)
    ); /* Ajusta el tamaño de las columnas */
  }

  .box {
    padding: 5px; /* Reduce el relleno en pantallas grandes */
    margin: 5px;
  }
}

@media (min-width: 1541px) and (max-width: 2000px) {
  .wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(20%, 1fr)
    ); /* Ajusta el tamaño de las columnas */
  }

  .box {
    padding: 5px; /* Reduce el relleno en pantallas grandes */
    margin: 5px;
  }
}


.box {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  background-color: black;
  padding: 10px;
  margin: 10px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
  border-radius: 10px;
  color: #f5f5f6;
  position: relative; /* Necesario para posicionar correctamente el contenido adicional */
  overflow: hidden;
}

.box .flip-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.box:hover .flip-container {
  transform: rotateY(180deg);
}

.box .flip-content {
  position: absolute;
  width: 95%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: black;
  color: #f5f5f6;
  padding: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.box:hover .flip-content {
  opacity: 1;
}

.box .flip-content.back {
  transform: rotateY(180deg);
}

.box > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.5s; /* Añadido para que la imagen desaparezca con el hover */
}

.box:hover > img {
  opacity: 0; /* La imagen desaparece al hacer hover */
}

.box .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
              
.box{
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}
.box:hover{
  box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform:translate(0px,5px);
}
  
.tech{
  display: flex;
  overflow: auto;
}

.tech ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.tech li {
  background-color: lightblue; /* Cambia este color según tus preferencias */
  padding: 15px;
  margin-right: 10px; /* Ajusta este valor para controlar el espaciado horizontal entre los elementos li */
  white-space: nowrap;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .tech li {
      margin-right: 3px; /* Ajusta el espaciado para pantallas pequeñas */
  }
}

@media (min-width: 667px) and (max-width: 1006px) {
  .tech li {
      margin-right: 15px; /* Ajusta el espaciado para pantallas pequeñas */
  }
}


/*boton*/

/*Contacto*/




footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  height: 10vh;
}
